<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.D.W.T.D.T T&Cs</title>
    <link rel="stylesheet" href="static/styles/index.css">
</head>

<body>
    <div>
        <h1>I Don't Want To Do That</h1>
        <br />
        <h2>The Process</h2>
        <p>
            Great! you've been told to do a task and obviously you don't want to do it. This card entitles you to not do
            the task. Simply follow these steps and you are well on your way to sitting on you butt and doing nothing.
            For the purpose of clarity this guide has been split into two parts.
        </p>
        <h4>You are in posession of the "I don't want to do that" card.</h4>
        <ol>
            <li>Simply show the card to the task provider and politely announce "I don't want to do that".</li>
            <li>Now is the fun part! You can sit back enjoying your uninterrupted leisure time. You
                may choose to continue scratching you butt or you may wish to observe the other task executor
                labrouriously carrying out the task.</li>
            <li>But wait, you have one more thing to do. Once the executor has completed their task they will come to
                you and ask for the "I don't want to do that" card, you MUST hand over the card within the timeframe
                outlined in schedule 1.</li>
        </ol>
        <h4>You are NOT in posession of the "I don't want to do that" card.</h4>
        <ol>
            <li>I'm afraid that you will have to do that thing.</li>
            <li>Now is the fun part! Once you have done that thing and the thing has been certified as "done" by the
                task provider you may collect the "I don't want to do that" card from any other participant in the "I
                don't want to do that" framework.</li>
        </ol>
        <h2>Terms And Conditions </h2>
        <ul>
            <li>The card must be shown to the task provider within the timeframe outlined in schedule 1 of the task
                request. Cards presented once the task has been provisioned will not be accepted and you will have to do
                the task</li>
            <li>If you fail to present the card when requested by another participant you are liable for the full cost
                of replacement as shown in schedule 1 below</li>
            <li>The card <b>does</b> entitle you to shirk tasks which only you can do. This includes, but is not limited
                to
                changing underwear, brushing teeth and eating the remainder of your dinner. Please note however that in
                these examples there is a seperation between the task executor and the the task. The executor may change
                to another participant but the task will still be to change your underwear. If you would like to pass on
                this task you are welcome to.
            </li>
            <li>The card cannot be used to pass on tasks which are solely your responibility, cleaning up a mess which
                you created or fixing an item or situation which you broke or interrupted is your responsibility alone
                and cannot be passed on to another.</li>
            <li>You as the participant of the framework may withraw your participation at any time. This would result in
                the remaining participants maintaining possession of the card at all times.</li>
            <li>These terms and conditions are liable to change at any time. You will not be given notice of the change
                and the right to withdraw the framework is done entirely at the whim of the task providers. Should the
                framwrok be withdrawn any current possessors of the card are entitled to the full replacement cost of
                the card as outlined in schedule 1</li>
            <li>In dire emergencies the task provider may choose to issue a "just do it" command. This overrides the
                card and if you are in posession of the card you will have to do the task. You are however entitled to
                both maintain posession of the card and to carry out the task in a sulky way. The exact determination of
                if the task constitutes a "dire emergency" is left up to the task provider.</li>
        </ul>
        <h2>Glossary of terms</h2>
        <p><i>The task provider</i> is the person who initially provides the task. This would normally be a parent.</p>
        <p><i>The task executor</i> is the person who either decides not to present the card or is unable to present the
            card.</p>
        <p><i>The task</i> is the specific act to be carried out as passed on from the task provider.</p>
        <p><i>Shirking</i> is the practice of passing on an assigned task to another. Only possible through posession of
            the card.</p>
        <h2>Schedule 1</h2>
        <table class="simple-table">
            <tr>
                <td>Replacement cost of the card</td>
                <td>76p</td>
            </tr>
            <tr>
                <td>Timeframe for presentation of the card</td>
                <td>60 seconds</td>
            </tr>
        </table>
        <br />

    </div>
    <footer>
        <p>I Don't Want To Do That question can be emailed to me and I will endeavour to respond within 60 working days.
        </p>
        <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">iwontreadthis@idontwanttodothat.com</a></p>
    </footer>
</body>

</html>